@import "../../assets/scss/utils/module";

.page {
  text-align: center;
}

.packages {
  margin-bottom: em(40);
}

.calculation {
  margin-bottom: em(48);

  p {
    @include font(24, 1.5, $blackColor, 700, 0, $segoiUI);
  }
}

.column-gap {
  column-gap: em(16);
}

.form-step {
  max-width: em(800);
  width: 100%;
  margin: 0 auto;

  >div {
    width: 100%;
    text-align: center;
  }
}

.fields-wrapper {
  display: inline-block;
}